<% layout("/layouts/boilerplate") %>

<div class="container min-vh-100">
  <div class="row mt-4">
    
    <h1 class="col-6 offset-3">Login</h1>

    <div class="col-md-6 offset-md-3">
      <form action="/login" method="POST" class="needs-validation" novalidate>

        <div class="mb-3">
          <label class="form-label" for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            required
          >
          <div class="invalid-feedback">Looks Good!</div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            required
          >
          <div class="invalid-feedback">Add valid password</div>
        </div>

        <button class="btn btn-success">Login</button>

      </form>
    </div>

  </div>
</div>
